{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hastane Feedback</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand" href="{% url 'feedback:d_admin_index' %}">Departman Admini Paneli</a>
            <ul class="navbar-nav ms-auto">
                {% if request.user.is_authenticated %}
                    <li class="nav-item ">
                        <a class="nav-link active" href="{% url 'user:logout' %}">Çıkış</a>
                    </li>
                {% endif %}
            </ul>              
            </div>
        </div>
    </div>
    </nav>
    <div style="margin-top: 100px; margin-bottom:100px; margin-left:25px;" >
        <div class="row">
            <div class="col-3">
                <div class="list-group"> <!--<img src="/media/house-door.svg" width="18" height="18" >  -->
                    <a href="{% url 'feedback:d_admin_index' %}" class="list-group-item list-group-item-action list-group-item-warning ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16" align="middle">
                        <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z"/>
                    </svg><b>&emsp;Anasayfa</b></a>

                    <div class="col-example" >
                    <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#collapseExampleTalep" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                        <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                    </svg><b>&emsp;Talepler-Şikayetler</b></a>
                    </div>
                        <div class="collapse" id="collapseExampleTalep" >
                        <a href="{% url 'feedback:d_admin_index' %}" class="list-group-item list-group-item-action">
                        &emsp;&emsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-check" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                        </svg>&emsp;<b>İşlemde</b>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                        {% block talep %}
                        {% endblock talep %}</a>
                        <a href="{% url 'feedback:d_admin_cozuldu' %}" class="list-group-item list-group-item-action">
                        &emsp;&emsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-check" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                        </svg>&emsp;<b>Tamamlanmış</b></a>
                        </div>

                    <a href="{% url 'feedback:d_admin_update' %}" class="list-group-item list-group-item-action list-group-item-warning">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg><b>&emsp;Kullanıcı Bilgileri</b></a>
                </div>
            </div>
            <div class="col-8" style="margin-left:25px;">
                    {% if messages %}
                        {% for message in messages %}
                            
                            {% if message.tags == "info" %}
                                <div class="alert alert-danger">{{ message }}</div>
                        
                            {% else %}
                                <div class="alert alert-{{ message.tags }}">{{ message }}</div>

                            {% endif %}
                        {% endfor %}

                    {% endif %}
                {% block content %}

                {% endblock content %}<br>
                
                {% block ek %}
                
                {% endblock ek %}
            </div>
        </div>
    </div>

    <div style="margin-top: 100px; margin-bottom:100px;" class="container" >
        
        {% block body %}
    
        {% endblock body %}
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}" ></script>

</body>
</html>