{% extends "admin/layout.html" %}

{% block content %}
{% load crispy_forms_tags %}
{% if user_all %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" class="text-info">No</th>
      <th scope="col" class="text-info">Ad</th>
      <th scope="col" class="text-info">Soyad</th>
      <th scope="col" class="text-info">Telefon Numarası</th>
      <th scope="col" class="text-info">Mail</th>
      <th scope="col" class="text-info">Departman</th>
      <th scope="col" class="text-info">Rol</th>
      <th scope="col" class="text-info">Güncelle</th>
      <th scope="col" class="text-info">Sil</th>
    </tr>
  </thead>
  <tbody>
        {% for user in user_all %}
            {% if user.user_role.name == "Hastane Admini" or user.user_role.name == "Departman Admini" or user.user_role.name == "Departman Kullanıcısı" or user.user_role.name == "Personel"  %}
              <tr>
                <td><b>{{user.id}}</b></td>
                {% for u in user_profile  %}
                    {% if u.id == user.user_id %}
                        {% if u.first_name %}
                            <td>{{u.first_name}}</td>                
                        {% else %}
                            <td>-</td>
                        {% endif %}
                        {% if u.last_name %}
                            <td>{{u.last_name}}</td>                
                        {% else %}
                            <td>-</td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <td>{{user.user_phone}}</td>
                {% if user.email %}
                    <td>{{user.email}}</td>                                 
                {% else %}
                    <td>-</td>
                {% endif %}
                <td>{{user.user_department.name}}</td>
                <td>{{user.user_role.name}}</td>
                {% if user.user_role.name != "Hastane Admini" and user.user_role.name != "Departman Admini" %}
                <td><a class="text-success" href="{% url 'feedback:admin_register_personel_update' user.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-recycle" viewBox="0 0 16 16">
                    <path d="M9.302 1.256a1.5 1.5 0 0 0-2.604 0l-1.704 2.98a.5.5 0 0 0 .869.497l1.703-2.981a.5.5 0 0 1 .868 0l2.54 4.444-1.256-.337a.5.5 0 1 0-.26.966l2.415.647a.5.5 0 0 0 .613-.353l.647-2.415a.5.5 0 1 0-.966-.259l-.333 1.242-2.532-4.431zM2.973 7.773l-1.255.337a.5.5 0 1 1-.26-.966l2.416-.647a.5.5 0 0 1 .612.353l.647 2.415a.5.5 0 0 1-.966.259l-.333-1.242-2.545 4.454a.5.5 0 0 0 .434.748H5a.5.5 0 0 1 0 1H1.723A1.5 1.5 0 0 1 .421 12.24l2.552-4.467zm10.89 1.463a.5.5 0 1 0-.868.496l1.716 3.004a.5.5 0 0 1-.434.748h-5.57l.647-.646a.5.5 0 1 0-.708-.707l-1.5 1.5a.498.498 0 0 0 0 .707l1.5 1.5a.5.5 0 1 0 .708-.707l-.647-.647h5.57a1.5 1.5 0 0 0 1.302-2.244l-1.716-3.004z"/>
                    </svg></a></td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if user.user_role.name != "Hastane Admini" and user.user_role.name != "Departman Admini" %}
                <td><a class="text-danger" href="{% url 'feedback:admin_register_personel_delete' user.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                     </svg></a></td>
                {% else %}
                    <td></td>
                {% endif %}
              </tr>  
            {% endif %}
        {% endfor %}
      </tbody>
    </table>
    <p class="text-danger">! Personel Silinirse Bu Personele Bağlı Bütün Bilgiler ve Talep-Şikayetler Silinir !</p>
    <br>

            <div class="d-flex justify-content-end ">
                <div class="col-example">
                    <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExamplePersonelAdd" aria-expanded="false" aria-controls="collapseExample">
                   Personel Ekle</button>
                </div>
            </div><br><br><br>

            <div class="collapse" id="collapseExamplePersonelAdd">
                <h3 class="text-success">Personel Ekleme</h3>
                <hr>
                <h6 class="text-warning" >* Alanların Doldurulması Zorunludur!</h6><br>
                        
                            <form method="POST" >
                                {% csrf_token %}
									<div class="mb-3">
										<label class="form-label">Ad*</label>
										<input type="text" class="form-control" name="first_name" required>
									</div>
									<div class="mb-3">
										<label class="form-label">Soyad*</label>
										<input type="text" class="form-control" name="last_name" required>
									</div>
									<div class="mb-3">
										<label class="form-label">Email*</label>
										<input type="email" class="form-control" name="email" required>
									</div>
                                    {{user_add|crispy}}
                                <br>
                                <button type="submit" class="btn btn-danger" align="right" >Ekle</button>
                                
                            </form>
            </div>
                <br>

{% else %}
<div class="alert alert-danger">
Hastaneye Ait Personel Bilgisi Bulunmamaktadır.
</div>
{% endif %}

{% endblock content %}
