{% extends "admin/feedback_detail.html" %}

{% block ek %}
{% load crispy_forms_tags %}
{% if feedback_status %}
    <h5 class="text-danger">Talep-Şikayet Durumu Güncelleme</h5>
    <hr>
    <div class="row">
        <div class="col-md-3 offset-md-3">
            <form method="POST">
                {% csrf_token %}
                {{status_form|crispy}}
                <br>
                <button type="submit" class="btn btn-danger">Güncelle</button> 
            </form>
        </div>
    </div>

{% else %}
    <h5 class="text-danger">Talep-Şikayet Bilgileri Oluşturma</h5>
    <hr>
    <div class="row">
        <div class="col-md-3 offset-md-3">
            <form method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <br>
                <button type="submit" class="btn btn-danger">Oluştur</button> 
            </form>
        </div>
    </div>
{% endif %}

{% endblock %}